body{
    margin: 0;
    padding: 0;
    background: url(../images/3840x2160-5604328-dark-textures-wallpapers.jpg);
    background-size: cover;
    color: white;
    font-family: cursive;
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-auto-rows: 100vh;
}

.fade{
    background: rgba(0,0,0,0.3);
}

.main-area{
    text-align: center;
}

.home{
    margin: 20px;
    padding: 10px;
    cursor: pointer;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 0.2s;
    display: none;
}
.home:hover{
    color: white;
}



/* main heading ************************** */

.main-area h1{
    position: relative;
    font-size: 4em;
    text-shadow: 0 0 20px #ff005b;
    width: 10em;
    margin: 20px auto;
}
.main-area h1::after {
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    color: #ff005b;
    filter: blur(15px);
}
.main-area h1::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fe3a80;
    z-index: -2;
    opacity: 0.5;
    filter: blur(40px);
}

/* layer1 *************** */

#layer1{
    display: block;
}
.images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    grid-row-gap: 20px;
    width: 100%;
    margin-top: 100px;
}
.image{
    position: relative;
    height: 200px;
    width: 200px;
    overflow: hidden;
    box-shadow: 10px 10px rgba(0,0,0,0.4);
    cursor: pointer;
}
.image:hover img{
    transform-origin: center;
    transform: scale(1.05);
}
.image img{
    width: 100%;
    height: 100%;
    transition: all 0.3s;   
}

/* layer 2 ************* */

#layer2{
    display: none;
}
#layer2 h2{
    margin-bottom: 100px;
}
#layer2 p{
    margin-bottom: 50px;
    position: relative;
    top: -20px;
}

.btn{
    text-decoration: none;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 50px;
    width: 170px;
    background: red;
    color: white;
    font-family: verdana;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    z-index: 1;
    overflow: hidden;
    box-shadow: 4px 4px orange;
    margin-top: 80px;
    cursor: pointer;
}
.btn:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    border: solid 90px #222;
    z-index: -1;
    transform: rotate(360deg);
    transform-origin: left;
    transition: 0.7s;
}
.btn:hover:before{
    transform: rotate(60deg);
    border-color: cadetblue;
}

/* layer 3 ********************* */

#layer3{
    display: none;
}
#wrapper1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 133.33px;
    height: 400px;
    width: 400px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 70px;
}

.box{
    border: 1px solid black;
}
.tile{
    width: 100%;
    height: 100%;
}


/*  layer 4 ******************************** */

#layer4{
    display: none;
}
#wrapper2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 100px;
    height: 400px;
    width: 400px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 30px;
    margin-top: 70px;
}

  /* layer 5 ******************************* */

#layer5{
    position: fixed;
    font-size: 4em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateZ(-20deg);
    animation: complete 1s infinite;
    display: none;
}

@keyframes complete{
    0%{
        color: yellow;
    }
    50%{
        color: orange;
    }
    100%{
        color: yellow;
    }
}